#div1 {
    width: 400px;
    height: 400px;
    background-color: red;
    transition: 1s;
    border-radius: 50%;
}
#div1:hover {
    transform: scale(2);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
    background-color: black;
}