#div1 {
    background-color: green;
    height: 300px;
    width: 300px;
    border: 5px solid red;
}
#div2 {
    background-color: green;
    height: 60%;
    width: 60%;
    border: 5px solid red;
}

p {
    font-size: 50px;
}