body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
}

#div1 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: red;
    animation-name: ball;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes ball {
    0% {
        margin-top: 400px;
        background-color: blue;
    }

    50% {
        margin-bottom: 400px;
        background-color: yellow;
    }

    100% {
        margin-top: 400px;
        background-color: aqua;
    }
}