#ul1 {
    list-style-type: circle;
    transition: 0.5s;
}
#ul1:hover {
    font-size: 70px;
    color: red;
}
#ol1 {
    list-style-type: decimal;
    transition: 0.5s;
}
#ol1:hover {
    font-size: 70px;
    color: blue;
}

#ul2 {
    list-style-type: disc;
    transition: 0.5s;
}
#ul2:hover {
    font-size: 70px;
    color: purple;
}

#ol2 {
    list-style-type: georgian;
    transition: 0.5s;
}
#ol2:hover {
    font-size: 70px;
    color: green;
}

#ul3 {
    list-style-type: lower-alpha;
    transition: 0.5s;
}
#ul3:hover {
    font-size: 70px;
    color: brown;
}
#ol3 {
    list-style-type: upper-latin;
    transition: 0.5s;
    align-items: center;
}
#ol3:hover {
    font-size: 70px;
    color: cyan;
}
body {
    font-size: 40px;
}