body {
    background-color: #eed600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
    flex-direction: column;
    font-size: 40px;
    font-style: italic;
    font-family: cursive;
}

#p1 {
    color: red;
    font-size: 12px;
}

#p2 {
    color: coral;
    font-size: 16px;
}

#p3 {
    color: rgb(226, 154, 168);
    font-size: 24px;
}

#p4 {
    color: aqua;
    font-size: 40px;
}

#p5 {
    color: lime;
    font-size: 32px;
}

#p6 {
    color: darkkhaki;
    font-size: 10px;
}

#p7 {
    color: yellow;
    font-size: 50px;
}

#p8 {
    color: pink;
    font-size: 15px;
}

#p9 {
    color: purple;
    font-size: 55px;
}

#p10 {
    color: darkslategray;
    font-size: 30px;
}