button-1 {
    background-color: #ff0000;
    color: white;
  }
  .button-1:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(66, 26, 18, 0.4);
  }
  .button-1:active {
    transform: scale(0.95);
  }

  .button-2 {
    background-color: #008cff;
    color: white;
  }
  .button-2:hover {
    transform: rotate(5deg);
  }
  .button-2:active {
    transform: scale(1.05);
  }

  .button-3 {
    background-color: #8cff00;
    color: white;
  }
  .button-3:hover {
    transform: translateY(-5px);
  }
  .button-3:active {
    transform: translateY(2px);
  }

  .button-4 {
    background-color: #ff0080;
    color: white;
  }
  .button-4:hover {
    transform: skew(5deg, 5deg);
  }
  .button-4:active {
    transform: skew(0deg, 0deg);
  }

  .button-5 {
    background-color: #ff6200;
    color: white;
  }
  .button-5:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 10px rgba(127, 90, 21, 0.742);
  }
  .button-5:active {
    transform: scale(1.1);
  }

  .button-6 {
    background-color: #2200ff;
    color: white;
  }
  .button-6:hover {
    transform: translateX(10px);
  }
  .button-6:active {
    transform: translateX(-5px);
  }

  .button-7 {
    background-color: #00a0d1;
    color: white;
  }
  .button-7:hover {
    transform: scale(1.05) rotate(10deg);
  }
  .button-7:active {
    transform: scale(1.05) rotate(-5deg);
  }

  .button-8 {
    background-color: #7700ff;
    color: white;
  }
  .button-8:hover {
    transform: scale(1.1) translateY(-5px);
  }
  .button-8:active {
    transform: translateY(5px);
  }

  .button-9 {
    background-color: #a10081;
    color: white;
  }
  .button-9:hover {
    transform: perspective(500px) rotateY(15deg);
  }
  .button-9:active {
    transform: perspective(500px) rotateY(5deg);
  }

  .button-10 {
    background-color: #ee4a89;
    color: white;
  }
  .button-10:hover {
    transform: rotate(360deg);
  }
  .button-10:active {
    transform: rotate(0deg);
  }