#div1 {
    width: 500px;
    height: 500px;
    background-color: blue;
    transition: 1s;
}

#div1:hover {
    margin-left: 300px;
    background-color: red;
    box-shadow: 10px 10px black;
    border-radius: 15px;
}
