body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 100px;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 0px 0px 10px 10px blue;
}

label {
    font-size: 30px;
    font-family: sans-serif;
}

#name {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
}

#surname {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
}

#submit {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
    transition: 1s;
}

#submit:hover {
    background-color: green;
}