#div1 {
    width: 500px;
    height: 300px;
    background-color: green;
    margin: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 20px;
    border: 5px solid red;
}

#div2 {
    width: 500px;
    height: 300px;
    background-color: green;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 6px;
    padding: 40px;
    border: 5px solid red;
}