#img1 {
    border-radius: 30px;
    height: 303px;
    width: 400px;
}

#img2 {
    border: 5px solid red;
    border-radius: 80px;

}

#img3 {
    border: 5px solid red;
    border-radius: 80px;
}

#img4 {
    border: 5px solid red;
    border-radius: 80px;
}

#img5 {
    border: 5px solid red;
    border-radius: 80px;
}