#table {
    border-style: dashed;
    border-color: red;
    font-size: 60px;
    border-collapse: collapse;
    border-width: 10px;
}

#table1 {
    border-color: red;
    font-size: 60px;
    border-collapse: collapse;
    border-width: 10px;
    border-style: dotted;
}

#table2 {
    border-color: red;
    font-size: 60px;
    border-collapse: collapse;
    border-width: 10px;
    border-style:double;
}