input[type="text"]{
    border: 1px solid green;
    outline: none;
}

input[type="email"]{
    border: 1px solid green;
    outline: none;
}

input[type="password"]{
    border: 1px solid green;
    outline: none;
}

input[type="number"]{
    border: 1px solid green;
    outline: none;
}