#div1 {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#div2 {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

#div3 {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
}

#div4 {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
}

#div5 {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px solid black;
}

.div_child {
    width: 80px;
    height: 80px;
    background-color: red;
    border: 2px solid black;
}

body {
    display: flex;
    justify-content: space-between;
}