#ul1 {
    font-size: 50px;
    margin-left: 400px;
}

#ol1 {
    font-size: 50px;
    margin-left: 400px;
}

.python {
    list-style-type: circle;
    list-style-position:inside
}

.javascript {
    list-style-type: disc;
    list-style-position:outside
}

.css {
    list-style-type:armenian;
}
.html {
    list-style-type: none;
}

.c {
    list-style-type: lower-roman;
    list-style-image: url(cw1.png);
}

.C4 {
    list-style-type:upper-alpha
}