* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    height: 400vh;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    height: 200vh;
}

.info-section {
    flex: 1;
    padding: 20px;
    position: sticky;
    top: 20px;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
    color: #555;
}



.image img {
    width: 500px;
    height: 500px;
}
