#table1, td, th {
    border: 5px solid red;
    font-size: 60px;
    border-collapse: separate;
}

#table2, td, th {
    border: 5px solid red;
    font-size: 60px;
    border-collapse: collapse;
}

