* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #212134;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 130px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#watch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/pink.png");
    background-size: contain;
    width: 430px;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
}

#watch h1 {
    z-index: 1000;
    color: #fff;
}

#heartbeat {
    display: none;
}

#content1 {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#content1 h1 {
    font-size: 40px;
}

#content1 p {
    color: #0000007e;
    line-height: 23px;
}

#content2 h1 {
    font-size: 28px;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.color {
    width: 57px;
    height: 40px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.color:hover {
    transform: scale(1.3);
}

#black {
    background-color: #23211f;
}

#red {
    background-color: #ca3d22;
}

#blue {
    background-color: #565681;
}

#purple {
    background-color: #8a5362;
}

#heartbeat img {
    width: 120px;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

#heartbeat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content2 {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#content3 h1{
    font-size: 28px;
}

#content3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#content3-div1 {
    display: flex;
    gap: 15px;
}

#content3-div1 button {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #edebeb;
    cursor: pointer;
    transition: 0.5s;
}

#content3-div1 button:hover {
    background-color: #dbdada;
}

#content4 {
    background-color: #ffa500;
    width:max-content;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}

#content4:hover {
    background-color: #b87802;
    transform: scale(1.1);
}

#content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#login {
    position: absolute;
    right: 20px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

#login:hover {
    filter: invert(50%);
}

@keyframes heartbeat{
    0%{
        transform: scale(1);
    }
    23%{
        transform: scale(1.3);
    }
    30%{
        transform: scale(1);
    }
    44%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}