#p1 {
    font-size: 30px;
    color:#d66851 
}

#p2 {
    font-size: 30px;
    color:#15a422 
}

#p3 {
    font-size: 30px;
    color:#ad199d 
}

#p4 {
    font-size: 30px;
    color:#506f53 
}

#p5 {
    font-size: 30px;
    color:#FF5733 
}

#p6 {
    font-size: 30px;
    color:#581845
}