#button1 {
    margin-left: 250px;
    transition: 1s;
}
#button1:hover {
    font-size: 100px;
    color: blue;
}

#button2 {
    margin-left: 18px;
    transition: 1s;
}
#button2:hover {
    font-size: 100px;
    color: blue;
}